<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        li{
            padding-bottom: 19px;
            font-family: 'Lato', sans-serif;
            font-size: 16px;   
            font-weight: Regular;
            min-width: 195px;
        }
        div{
            float:left;
            margin-right: 183.33px;
            width: 195px;
            
        }
        footer{
        display: block;
        }
    </style>
</head>
<footer>
    
        <div>
            <ul type="none">
                <li><b>Zamówienia</b></li>
                <li>Dostawa</li>
                <li>Raty</li>
                <li>Sposoby płatności</li>
                <li>Zwroty i reklamacje</li>
            </ul>  
        </div>
        <div>
            <ul type="none">
                <li><b>Przydatne linki</b></li>
                <li>Karty podarunkowe</li>
                <li>Promocje</li>
                <li>Wyprzedaż</li>
                <li>Ten gorący strzał</li>
                <li>Aktualności</li>
            </ul>
        </div>
        <div>
            <ul type="none">
                <li><b>Nazwa firmy</b></li>
                <li>O nas</li>
                <li>Newsletter</li>
                <li>Opinie klientów</li>
                <li>Regulamin</li>
                <li>Polityka prywatności</li>
                <li>Oferta pracy</li>
            </ul>
        </div>
        <div>
            <ul type="none">
                <li><b>Kontakt</b></li>
                <li><img src="kontakt.png"></li>
            </ul>
        </div>
    
        
        
        
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          