#tlo{
    width:100%;
   
    background-color: white;
    padding-top: 29px;
    transform: translate(0px, -31px);
}
#okienko{
    width: 900px;
    height: 90px;
    border: solid 2px #404040;
    border-radius: 15px;
    margin-top:30px;
    margin-left: 30px;
}
#napis{
    width: 675px;
    height: 130px;
    margin-top:30px;
    margin-left: 30px;
}
#guzik{
    width: 675px;
    height: 90px;
    margin-top:30px;
    margin-left: 30px;
    text-align: center;
}
#button{
    background: #FFB30F;
    border-radius: 999px;
    box-shadow: #FFB30F 0 10px 20px -10px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
}
#zdjGal{
    width:92px;
    height:72px;
    margin-left:10px;
    margin-top:10px;
}
#NazGry{
    
    overflow-x:hidden ;
    font-family: 'Lato', sans-serif;
    font-size:24px;
    transform: translate(17%,-200%);
}
#ilosc{
    font-family: 'Lato', sans-serif;
    font-size:24px;
    transform: translate(45%,-290%);
}
#cena{
    font-family: 'Lato', sans-serif;
    font-size:24px;
    transform: translate(64%,-390%);
}
#ikoDol{
    font-family: 'Lato', sans-serif;
    font-size:24px;
    transform: translate(85%,-340%);
}
#zakup{
    font-family: 'Lato', sans-serif;
    font-size:9px;
    transform: translate(88%,-1350%);
    color: #404040;
}

